*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body{
  min-height: 100vh;
  background: #282765;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.stars{
    position: relative;
    display: flex;
    z-index: -100;
}
.stars span{
 position: relative;
 width: 30px;
 height: 30px;
 background: #1ae753;
 margin: 0 4px;
 border-radius: 50%;
 box-shadow: 0 0 0 10px #1ae75344,
 0 0 50px #1ae753,
 0 0 100px #1ae753;
 animation: animate 15s linear infinite;
 animation-duration: calc(125s / var(--i));
}
.stars span:nth-child(even){
    background: #b85716;
    box-shadow: 0 0 0 10px #b8571644,
    0 0 50px #b85716,
    0 0 100px #b85716; 
}

@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}

#Clock{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 700%;
}